:root {
	--container-width: 1232px;
	--container-padding: 16px;

	--font-main: 'Manrope', sans-serif;
	--font-accent: 'Nunito Sans', sans-serif;

	--main-bg: linear-gradient(135deg, #1c274a 0%, #040711 100%);
	--color-accent-bg:#fcfcfc;

	--text-color: #fcfcfc;
	--text-color-accent: #101010;

	--accent: #145cef;
}



