@use './../base/mixins';

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 7px 32px;

    @include mixins.mobile{
        padding: 5px 14px;
    }
}

.logo__switcher {
    display: flex;
    align-items: center;
    gap: 16px;
    
    @include mixins.mobile{
        display: none;
    }
}

.logo__switcher-link{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.3);
}

.logo__switcher-holding{
    color: #234ee4;
}

