@use './../base/mixins';

.nav-icon{
	z-index: 9;
	display: none;

	&--avtive{
		position: fixed;
		top: 0;
		left: 0;
	}

	@include mixins.tablet{
        display: block;
		width: 42px;
    }

	@include mixins.mobile{
        width: 48px;
		height: 48px;
    }
}